spring.profiles.active=local

spring.datasource.username=devXX_owner
spring.datasource.password=devXX_owner_tfx
spring.datasource.hikari.catalog=devXX
spring.jpa.properties.hibernate.default_catalog=devXX
spring.liquibase.default-schema=devXX

# Output queues
jms.any.alert-service.queue=ANY.ALERTSRV.NEW.ALERT.DEV_<USERNAME>
jms.system.event.notification.topic=SYSTEM.EVENT.NOTIFICATION.DEV_<USERNAME>